/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: gray;
  color: #333;
  margin: 0;
  padding: 0;
}

/* Header */
/* header {
  background-color: #222;
  color: #fff;
  padding: 20px 0;
  text-align: center;
} */

/* Gallery */

nav{ 
  background:#594848 ;
  width: 5000px;
  height: 60px;
  overflow: auto;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
li{
  float: left;
}
nav a{
  width: 150px;
  display: block;
  padding: 20px,10px;
  text-decoration: none;
  text-align: center;
  background-color: #594848;
  color: #fff;
  font-size: 18px;
  font-family: Arial,;
}
nav :hover{
  cursor:all-scroll;
  color: #000;
  background-color: #5d4cc0;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.image-container {
  position: relative;
  width: 300px;
}

.image-container img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.image-container .desc {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 10px;
  font-size: 14px;
  border-radius: 0 0 8px 8px;
}

footer {
  margin-top: 20px;
  padding: 10px;
  background-color: #1f1f1f;
}

footer p {
  text-align: center;
  color: #fff;
  margin: 10px 0;
}

footer p:last-child {
  margin-top: 0;
}

/* Social Media Links */
.social-media {
  background-color: #222;
  padding: 20px;
  text-align: center;
  color: #fff;
}

.social-media p {
  font-size: 16px;
  margin-bottom: 10px;
}

.social-media a {
  display: inline-flex;
  align-items: center;
  margin: 5px 10px;
  font-size: 16px;
  text-decoration: none;
}

.social-media a i {
  margin-right: 8px;
  font-size: 20px;
}

/* Social Media Colors */
.social-media a.instagram { color: #fff; }
.social-media a.whatsapp { color: #ffff; }
.social-media a.youtube { color: #fff; }
.social-media a.linkedin { color: #fff; }
.social-media a.tiktok { color: white; }

/* Sponsor Section */
.sponsor {
  background-color: #222;
  color: #fff;
  padding: 10px;
  text-align: center;
}
